[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
fastcore = "*"
nbdev = "*"
ipykernel = "*"
langgraph = "*"
instructor = "*"
pydantic = "*"
unstructured = {extras = ["all-docs"], version = "*"}
anthropic = "*"
google-generativeai = "*"
llamaai = "*"

[dev-packages]

[requires]
python_version = "3.12"
